html body {
	width: 100%;
	height: auto;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff; 
    font-weight: 100;
    color: #000;
}

h1 {
	font-weight: 200;
	text-align: center;
}

hr {
	text-align: left;
	width: 20%;
	border-color: #000;
	height: 30px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.background-pic {
	background: url("clouds.jpg") repeat;
}

#game_div {
    text-align: center;
    padding: 0 50px 50px 50px;
}

#game_canvas {
	border-radius: 15px;
	border: solid 2px;
}