body {
	font-family: Helvetica;
	margin: 40px;
}

li {
	margin: 10px;
}

img {
	width: 800px;
}
.issue-heading {
	font-weight: 800;
}

.high-severity {
	color: red;
}

.low-severity {
	color: orange;
}

.indent-here {
	margin: 50px;
}